// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "afxres.h"
/////////////////////////////////////////////////////////////////////////////
// Russian (Russia) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_RUSSIAN MENU
BEGIN
    POPUP "&Экран"
    BEGIN
        POPUP "&Разрешение"
        BEGIN
            MENUITEM "&640 x 480",                   IDM_RES_640_480
            MENUITEM "&800 x 600",                   IDM_RES_800_600
            MENUITEM "&1024 x 768",                  IDM_RES_1024_768
            MENUITEM "1&280 x 1024",                 IDM_RES_1280_1024
            MENUITEM SEPARATOR
            MENUITEM "В &полный экран (F4)",         IDM_RES_FULL_SCREEN
        END
        POPUP "&Фильтрация (F3)"
        BEGIN
            MENUITEM "&Откл.",                       IDM_FILT_OFF
            MENUITEM "&Линейная",                    IDM_FILT_LINEAR
            MENUITEM "&xRBz",                        IDM_FILT_XRBZ
        END
        MENUITEM "Сохр. &пропорции (F5)",			IDM_ASPECT_RATIO
        MENUITEM "Верт. &синхронизация",				IDM_VSYNC
    END
    POPUP "&Помощь"
    BEGIN
        MENUITEM "&Руководство",						IDM_HELP_MANUAL
        MENUITEM SEPARATOR
        MENUITEM "О &враппере",						IDM_HELP_WRAPPER
        MENUITEM "О &программе",                     IDM_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_RUSSIAN DIALOGEX 22, 17, 162, 90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "System", 0, 0, 0x1
BEGIN
    CTEXT           "Герои Меча и Магии I - II\nOpenGL враппер",1002,0,6,162,18
    CTEXT           "Версия 1.09   Сборка 85",IDC_STATIC,0,30,162,8
    CTEXT           "Copyright © 2018 Verok",1006,0,48,162,8
	DEFPUSHBUTTON   "OK",IDC_BTN_OK,65,72,32,14,WS_GROUP
	CONTROL         "verokster@gmail.com",IDC_LNK_EMAIL,"SysLink",WS_TABSTOP,48,57,72,12
	ICON            "",IDC_STATIC,8,17,20,20
END

#endif    // Russian (Russia) resources
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

IDM_MANIFEST            RT_MANIFEST             "module.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_ENGLISH MENU
BEGIN
    POPUP "&Display"
    BEGIN
        POPUP "&Resolution"
        BEGIN
            MENUITEM "&640 x 480",                   IDM_RES_640_480
            MENUITEM "&800 x 600",                   IDM_RES_800_600
            MENUITEM "&1024 x 768",                  IDM_RES_1024_768
            MENUITEM "1&280 x 1024",                 IDM_RES_1280_1024
            MENUITEM SEPARATOR
            MENUITEM "Full &Screen (F4)",            IDM_RES_FULL_SCREEN
        END
        POPUP "&Filtering (F3)"
        BEGIN
            MENUITEM "&Off",                         IDM_FILT_OFF
            MENUITEM "&Linear",                      IDM_FILT_LINEAR
            MENUITEM "&xRBz",                        IDM_FILT_XRBZ
        END
        MENUITEM "Keep &Aspect Ratio (F5)",			IDM_ASPECT_RATIO
        MENUITEM "Enable &VSync",					IDM_VSYNC
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Manual",							IDM_HELP_MANUAL
        MENUITEM SEPARATOR
		MENUITEM "About &Wrapper",					IDM_HELP_WRAPPER
        MENUITEM "About &Application",				IDM_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ENGLISH DIALOGEX 22, 17, 162, 90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "System", 0, 0, 0x1
BEGIN
    CTEXT           "Heroes of Might and Magic I - II\nOpenGL Wrapper",1002,0,6,162,18
    CTEXT           "Version 1.09   Build 85",IDC_STATIC,0,30,162,8
    CTEXT           "Copyright © 2018 Verok",1006,0,48,162,8
	DEFPUSHBUTTON   "OK",IDC_BTN_OK,65,72,32,14,WS_GROUP
	CONTROL         "verokster@gmail.com",IDC_LNK_EMAIL,"SysLink",WS_TABSTOP,48,57,72,12
	ICON            "",IDC_STATIC,8,17,20,20
END


/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDR_VERTEX              RCDATA                  ".\\Shaders\\linear_xbrz.vgl"

IDR_LINEAR_FRAGMENT     RCDATA                  ".\\Shaders\\linear.fgl"

IDR_XBRZ_FRAGMENT       RCDATA                  ".\\Shaders\\xbrz.fgl"

IDR_STENCIL_VERTEX      RCDATA                  ".\\Shaders\\stencil.vgl"

IDR_STENCIL_FRAGMENT    RCDATA                  ".\\Shaders\\stencil.fgl"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2018,7,4,85
 PRODUCTVERSION 1,0,9,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "HoMM I & II - OpenGL wrapper"
            VALUE "FileVersion", "2018.07.04.085"
            VALUE "LegalCopyright", "© 2018 Verok (verokster@gmail.com)"
            VALUE "OriginalFilename", "wing32.dll"
            VALUE "ProductVersion", "1.0.9"
            VALUE "ProductName", "HeroesGL"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////